<!DOCTYPE HTML>
<html>

<head>
   <meta charset="utf-8">
   <title>пресметка на бруто плата</title>
   <link href="style.css" rel="stylesheet" type="text/css">
   <link href="print.css" rel="stylesheet" type="text/css" media="print">
   <script src="controllers.js"></script>
</head>

<body ng-app="">
   <h1 id="print-header">Информации за придонесите и бруто/нето износот на платата</h1>
   <div id="info">
      <a href="http://www.ujp.gov.mk/m/javnost/soopstenija/pogledni/683" target="_blank">Бруто плата 2019 - најниска и
         највисока основица за пресметување на придонеси</a>
   </div>

   <form name="myForm" ng-controller="Calculator">
      <table id="form">
         <tr>
            <td>Бруто:</td>
            <td>
               <input type="number" name="bruto" ng-model="bruto" placeholder="бруто" ng-change="bruto_change()" min="{{min_bruto_plata}}" />
               <span class="error" ng-show="myForm.bruto.$error.number">Не е број!</span>
               <span class="error" ng-show="myForm.bruto.$error.min">Минимум бруто плата е {{min_bruto_plata}}!</span>
               <span class="error" ng-hide="myForm.bruto.$valid">Невалиден број!</span>
            </td>
         </tr>
         <tr>
            <td>Нето:</td>
            <td>
               <input type="number" name="neto" ng-model="neto" placeholder="нето" ng-change="neto_change()" min="{{min_neto_plata}}" />
               <span class="error" ng-show="myForm.neto.$error.number">Не е број!</span>
               <span class="error" ng-show="myForm.neto.$error.min">Минимум нето плата е {{min_neto_plata}}!</span>
               <span class="error" ng-hide="myForm.neto.$valid">Невалиден број!</span>
            </td>
         </tr>
      </table>


      <table id="results">
         <tbody>
            <tr>
               <td>Бруто плата</td>
               <td></td>
               <td>{{bruto}}</td>
            </tr>
            <tr>
               <td>Придонес за пензискo осигурување</td>
               <td>{{k.penzisko * 100}}%</td>
               <td>{{penzisko}}</td>
            </tr>
            <tr>
               <td>Придонес за здравствено осигурување</td>
               <td>{{k.zdravstveno * 100}}%</td>
               <td>{{zdravstveno}}</td>
            </tr>
            <tr>
               <td>Придонес за вработување</td>
               <td>{{k.pridones * 100}}%</td>
               <td>{{pridones}}</td>
            </tr>
            <tr>
               <td>Придонес за професионално заболување</td>
               <td>{{k.boluvanje * 100}}%</td>
               <td>{{boluvanje}}</td>
            </tr>
            <tr>
               <td>Вкупно придонеси</td>
               <td></td>
               <td>{{pridonesi}}</td>
            </tr>
            <tr>
               <td>Бруто - придонеси</td>
               <td></td>
               <td>{{bruto_minus_pridonesi}}</td>
            </tr>
            <tr>
               <td>Даночно ослободување</td>
               <td></td>
               <td>{{danocno_osloboduvanje}}</td>
            </tr>
            <tr>
               <td>Даночна основа за пресметка на данок на личен доход со 10% (за даночна основа под 90.000 денари)</td>
               <td></td>
               <td>{{osnovica_za_danok}}</td>
            </tr>
            <tr>
               <td>Персонален данок</td>
               <td>{{k.personalen * 100}}%</td>
               <td>{{personalec}}</td>
            </tr>
            <tr>
               <td>Даночна основа за пресметка на данок на личен доход со 18% (за даночна основа над 90.000 денари)</td>
               <td></td>
               <td>{{osnovica_za_danok_dop}}</td>
            </tr>
            <tr>
               <td>Данок на личен доход</td>
               <td>{{k.personalen_dop * 100}}%</td>
               <td>{{personale_dop}}</td>
            </tr>
            <tr>
               <td>Вкупно придонеси и данок</td>
               <td></td>
               <td>{{pridonesi_danok}}</td>
            </tr>
            <tr>
               <td>Нето плата</td>
               <td></td>
               <td>{{neto}}</td>
            </tr>
         </tbody>
      </table>
   </form>

   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
   <a id="ribbon" href="https://github.com/fatonmehmedi/kalkulator.ot.mk"><img style="position: absolute; top: 0; left: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
</body>

</html>